app = "reviews-app-shop"
primary_region = "ord"

[build]

[env]
  NODE_ENV = "production"
  HOST = "0.0.0.0"
  PORT = "3000"
  DATABASE_URL = "file:/data/sqlite.db"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0

[[vm]]
  size = "shared-cpu-1x"
  memory = "512mb"

[mounts]
  source = "data"
  destination = "/data"
