# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "48e2ceb7a1c0b8b5f9ea54ea4df20bf2"
name = "Lean Reviews"
application_url = "https://reviews-app-shop.fly.dev"
embedded = true

[build]
automatically_update_urls_on_dev = false

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  compliance_topics = ["customers/data_request", "customers/redact", "shop/redact"]
  uri = "/webhooks/compliance"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_customers,read_orders,read_products,write_discounts,write_products"

[auth]
redirect_urls = [ "https://reviews-app-shop.fly.dev/auth/callback" ]

[app_proxy]
url = "https://reviews-app-shop.fly.dev/app-proxy"
subpath = "reviews"
prefix = "apps"
